@model Out_Source_Project.Models.ViewModel.BlogViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Out_Source_Project.Models;

@{
	<!-- Page Header -->
	<div class="page_header">
		<div class="page_header_content">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="index-2.html">Home</a></li>
					<li><a href="blog-1.html">Blog</a></li>
					<li class="active">Bài Viết</li>
				</ul>
				<h2 class="heading">@Model.Title</h2>
			</div>
		</div>
	</div>
	DateTime date = (@Model.CreateDate != null) ? (DateTime)@Model.CreateDate : DateTime.MinValue;
	<div class="main_wrapper section">
		<div class="container">
			<div class="blog_details">
				<div class="post_img">
					<img src="~/images/posts/@Model.Thumb" alt="blog">
					<div class="calendar">
						<a href="#"><span class="date">@date.Day</span><br>Tháng @date.Month</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-12 pe-4">
						<div class="blog_details_inner">
							<div class="post_content">
								<div class="post_header">
									<div class="categ"><a href="about.html">@Model.CatName</a></div>
									<h3 class="post_title">@Model.Title</h3>
								</div>
								<div class="fulltext">

									<p class="highlight">
										@Model.Scontents
									
									
									<div class="post_gallery">
										<div class="row">
											<div class="col-lg-6 col-sm-6">
												<div class="anim_box" data-aos="overlay-right">
														<img src="~/images/categories/@Model.Thumbnail" alt="img">
												</div>
											</div>
											<div class="col-lg-6 col-sm-6">
												<div class="anim_box" data-aos="overlay-right">
														<img class="sm-margin-bottom" src="~/images/icon/@Model.Icon" alt="img">
												</div>
											</div>
										</div>
									</div>

									<p>
										@Html.Raw(Model.Contents)
									</p>
									

									<div class="video_post">
										
											<div class="post_content">

											<img src="~/images/cover/@Model.Cover" alt="blog">
											</div>
									</div>

									
								</div>

								<div class="post_footer">
									<div class="post_share">
										<ul class="share_list">
											<li>Share:</li>
											<li class="facebook"><a href="#">Facebook</a></li>
											<li class="twitter"><a href="#">Twitter</a></li>
											<li class="pinterest"><a href="#">Pinterest</a></li>
											<li class="instagram"><a href="#">Instagram</a></li>
											<li class="linkedin"><a href="#">Linkedin</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="border_line"></div>

							<div class="author_div">
								<div class="author">
									<img alt="img" src="/client/images/blog/author_sm.png" class="avatar">
								</div>
								<div class="author-block">
									<h5 class="author_name">@Model.Author</h5>
									<p class="author_intro">Một chuyên gia có kinh nghiệm trong lĩnh vực thiết kế, vận hành và bảo trì các hệ thống kho lạnh, đem đến cho độc giả những kiến thức, kinh nghiệm và giải pháp thực tế để sử dụng kho lạnh hiệu quả và bảo vệ sản phẩm.</p>
									<div class="social_media">
										<ul class="social_list">
											<li><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
											<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="border_line"></div>

							<div class="comment_sec">
								<h4 class="widget_title">
									Comments
									<span class="title_line"></span>
								</h4>
								<ul class="comment_area">
									<li class="blog_comment_user">
										<div class="commenter_div">
											<div class="commenter">
												<img alt="img" src="/client/images/blog/commenter1.png" class="avatar">
											</div>
											<div class="comment_block">
												<h4 class="commenter_name">Trần Mỹ Linh <span class="reply"><a href="#" class="reply">Reply</a></span></h4>
												<p class="commenter_review">Làm thế nào để tối ưu hóa hoạt động của các hệ thống điều hòa và kho lạnh, đồng thời đảm bảo giảm thiểu tác động đến môi trường và tiết kiệm năng lượng?</p>
												<h6 class="comment_date">17 Tháng 7 2023</h6>
											</div>
										</div>

										<ul class="children">
											<li class="blog_comment_user">
												<div class="commenter_div">
													<div class="commenter">
														<img alt="img" src="/client/images/blog/commenter2.png" class="avatar">
													</div>
													<div class="comment_block">
														<h4 class="commenter_name">Vũ Đức Nhận <span class="reply"><a href="#" class="reply">Reply</a></span></h4>
														<p class="commenter_review">
															Chúng ta cần áp dụng các giải pháp như sử dụng công nghệ tiên tiến, tối ưu hóa thiết kế và vận hành, đảm bảo bảo trì định kỳ, và sử dụng các nguồn năng lượng thân thiện với môi trường.
														</p>
														<h6 class="comment_date">18 Tháng 7 2023</h6>
													</div>
												</div>
											</li><!-- #comment-## -->
										</ul><!-- .children -->
									</li><!-- #comment-## -->
									<li class="blog_comment_user">
										<div class="commenter_div">
											<div class="commenter">
												<img alt="img" src="/client/images/blog/commenter1.png" class="avatar">
											</div>
											<div class="comment_block">
												<h4 class="commenter_name">Trần Mỹ Linh <span class="reply"><a href="#" class="reply">Reply</a></span></h4>
												<p class="commenter_review">
													Cảm ơn, tôi đã đọc bài viết lưu ý khi sử dụng kho lạnh của bạn và tôi thấy nó rất hữu ích.
												</p>
												<h6 class="comment_date">20 Tháng 7 2023</h6>
											</div>
										</div>
									</li><!-- #comment-## -->
								</ul>
								<div class="comments-pagination">
									<a class="page-numbers" href="#">1</a>
									<span aria-current="page" class="page-numbers current">2</span>
								</div>
							</div>

							<div class="makeacomment">
								<h4 class="widget_title">
									Bình Luận
									<span class="title_line"></span>
								</h4>
								<form class="contact_form">
									<p class="comment-notes">Thông tin của bạn sẽ được bảo mật</p>
									<div class="form-container">
										<div class="row">
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<input type="text" name="name" class="form-control" placeholder="Tên*" required>
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<div class="form-group">
													<input type="email" name="email" class="form-control" placeholder="E-mail*" required>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<textarea name="message" class="form-control" placeholder="Bình Luận Của Bạn*" required></textarea>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<input class="button" type="submit" value="Gửi" name="submit">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-12">
						<div class="sidebar">
							<div id="search" class="widget widget_search">
								<div class="sidebar_search">
									<form class="search_form" >
										<input type="text" name="search" class="keyword form-control" placeholder="Tìm Kiếm ...">
										<button type="submit" class="form-control-submit"><i class="ion-ios-search"></i></button>
									</form>
								</div>
							</div>

							<div id="custom_1" class="widget widget_custom">
								<h4 class="widget_title">
									Về Tác Giả
									<span class="title_line"></span>
								</h4>
								<div class="sidebar_author">
									<img src="/client/images/blog/author.png" alt="img">
									<p class="intro">Đem đến cho độc giả các kiến thức, kinh nghiệm và giải pháp thực tế, hữu ích trong quá trình thiết kế, xây dựng và vận hành các hệ thống liên quan trong lĩnh vực.</p>
									<div class="author_social">
										<ul>
											<li><a href="#"><i class="ion-social-facebook"></i></a></li>
											<li><a href="#"><i class="ion-social-twitter"></i></a></li>
											<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
											<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
											<li><a href="#"><i class="ion-social-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
							</div>

							<div id="recent-posts-1" class="widget widget_recent_posts">
								<h4 class="widget_title">
									Bài Viết Gần Đây
									<span class="title_line"></span>
								</h4>
								<div class="sidebar_recent_posts">
									<ul class="recent_post_list">
										<li class="recent_post_item">
											<div class="recent_post_image">
												<img class="primary_img" src="/client/images/blog/thumbnail1.png" alt="">
											</div>
											<div class="recent_post_content">
												<h5><a href="blog-1.html">Cách Lắp Kho Lạnh Tiết Kiệm Chi Phí</a></h5>
												<h6>09 Tháng 8 2023</h6>
											</div>
										</li>
										<li class="recent_post_item">
											<div class="recent_post_image">
												<img class="primary_img" src="/client/images/blog/thumbnail2.png" alt="">
											</div>
											<div class="recent_post_content">
												<h5><a href="blog-2.html">Những Lưu Ý Quan Trọng Khi Sử Dụng Kho Lạnh</a></h5>
												<h6>06 Tháng 7 2023</h6>
											</div>
										</li>
										<li class="recent_post_item">
											<div class="recent_post_image">
												<img class="primary_img" src="/client/images/blog/thumbnail3.png" alt="">
											</div>
											<div class="recent_post_content">
												<h5><a href="blog-1.html">Các Loại Gói Dịch Vụ Bảo Hành Kho Lạnh</a></h5>
												<h6>02 Tháng 6 2023</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<div id="categories-1" class="widget widget_categories">
								<h4 class="widget_title">
									Danh Mục
									<span class="title_line"></span>
								</h4>
								<div class="sidebar_categories">
									<ul class="category_list">
										<li class="active"><a asp-action="Services" asp-controller="Home"> Lắp Đặt</a> (5)</li>
										<li><a asp-action="Services" asp-controller="Home">Hướng Dẫn</a> (7)</li>
										<li><a asp-action ="Services" asp-controller="Home">Tư Vấn</a>	(4) </li>
										<li><a asp-action="Services" asp-controller="Home">Tin Mới</a> (2)</li>
										<li><a asp-action="Services" asp-controller="Home">Thời Sự</a> (4)</li>
									</ul>
								</div>
							</div>

							<div id="tags-1" class="widget widget_tag_cloud">
								<h4 class="widget_title">
									Đính Kèm
									<span class="title_line"></span>
								</h4>
								<div class="sidebar_tags">
									<ul class="tag_list">
										<li><a asp-action="Services" asp-controller="Home" >Sửa Chữa</a></li>
										<li><a asp-action="Services" asp-controller="Home">Kho Lạnh</a></li>
										<li><a asp-action="Services" asp-controller="Home">Công Nghiệp</a></li>
										<li><a asp-action="Services" asp-controller="Home">Tư Vấn</a></li>
										<li><a asp-action ="Services" asp-controller="Home">Bể Lạnh</a></li>
										<li><a asp-action ="Services" asp-controller="Home">Lắp Đặt</a></li>
										<li><a asp-action="Services" asp-controller="Home">Thi Công</a></li>
										<li><a asp-action="Services" asp-controller="Home">Dịch Vụ</a></li>
										<li><a asp-action ="Services" asp-controller="Home">Bảo Hành</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}

