@model X.PagedList.IPagedList<Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Out_Source_Project.Models;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header -->
		<div class="page_header">
			<div class="page_header_content">
				<div class="container">
					<ul class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">Blogs</li>
					</ul>
					<h2 class="heading">Blogs</h2>
				</div>
			</div>
		</div>

<div class="main_wrapper">

	<div class="blog section">
		<div class="container">
			<div class="blog_grid">
				<div class="row">
					@foreach(var item in Model)
					{
						string url = $"/{item.Alias}.html";
						DateTime date = (@item.CreatedDate != null) ? (DateTime)@item.CreatedDate : DateTime.MinValue;
						<div class="col-lg-4 col-md-6">
							<article class="blog_post">
								<div class="post_img">
									<a href="@url"><img src="~/images/posts/@item.Thumb" alt="img"></a>
									<div class="calendar">
										<a href="@url"><span class="date">@date.Day</span><br>Tháng @date.Month</a>
									</div>
								</div>
								<div class="post_content">
									<div class="post_header">
										<h3 class="post_title">
											<a href="@url">@item.Title</a>
										</h3>
									</div>
									<div class="post_intro">
										<p>@item.Scontents</p>
									</div>
									<div class="post_footer">
										<div class="read_more">
											<a href="@url"><span>Đọc Bài Viết</span></a>
										</div>
									</div>
								</div>
							</article>
						</div>
					}

					@*<div class="pagination-div">
						<ul class="pagination">*@
							@*<li><a href="#"><i class="ion-chevron-left"></i></a></li>
							<li><a class="page-number current" href="#">1</a></li>
							<li><a class="page-number" href="#">2</a></li>
							<li><a class="page-number" href="#">3</a></li>
							<li><a href="#"><i class="ion-chevron-right"></i></a></li>*@
							@Html.PagedListPager(Model, page => Url.Action("Blog", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
							{
						//	ContainerDivClasses  = new List<string> { "pagination-div" },
						//	UlElementClasses = new List<string> { "pagination" },
							LiElementClasses = new List<string> { "page-number current" },
							PageClasses = new List<string> { "page-number" },
							//ClassToApplyToFirstListItemInPager = "current"
							
							})


						
					
				</div>
			</div>
		</div>
	</div>
</div>
