@model X.PagedList.IPagedList<Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Out_Source_Project.Models;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Admin">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Posts">Quản lý bài viết</a></li>
        @*<li class="breadcrumb-item active" aria-current="page">Basic Tables</li>*@
    </ol>
    <h6 class="slim-pagetitle">Quản lý bài viết</h6>
</div><!-- slim-pageheader -->

<div class="row">
	<div class="col-lg-6">
		<div class="form-group mg-b-10-force">
			<select class="form-control select2" data-placeholder="Chọn danh mục" id="catID" name="catID" asp-items="@ViewBag.DanhMuc"> 
				<option lable="Lọc Theo Danh Mục"> Chọn theo danh mục </option>
            </select>
            </div>
    </div>
    <div class="col-lg-6">
		<input class="form-control" placeholder="Tìm kiếm bài viết" type="text" id="keyword" name="keyword" />
    </div>
</div>
<div class="section-wrapper">
    <a class="section-title btn btn-primary" asp-action="Create" asp-area="Admin" asp-controller="Posts">Thêm mới bài viết</a>


    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <td>Tên Bài</td>
                    <td>Danh Mục</td>
                    <td>Trạng Thái</td>
                    <th>#</th>
                </tr>
            </thead>
           
                    <tbody id="record_table">
                @if (Model != null && Model.Count() > 0)
                {

                    foreach (var item in Model)
                    {
                        string url = $"/{item.Alias}.html";
                        <tr>
                            <th scope="row">@item.PostId</th>
                            <td>
                                <a href="@url">@item.Title</a>
                            </td>
                            <td>
                                @if (item.Cat != null && item.Cat.CatName != null)
                                    {
                                        <a href="/@item.Cat.Alias">@item.Cat.CatName</a>
                                    }
                                else
                                    {
                                        <p>Không Có</p>
                                    }
                            </td>
                            @*<td>@item.Title</td>

                    <td>@item.MetaDesc</td>
                    <td>@item.MetaKey</td>
                    <td>@item.Thumb</td>*@
                            <td>
                                @if (item.Published == true)
                                {
                                    <span class="badge badge-primary">Xuất Bản</span>
                                }
                                else
                                {
                                    <span class="badge badge-primary">Không Xuất Bản</span>
                                }
                            </td>
                            @*<td>@item.Ordering</td>
                    <td>@item.Parents</td>
                    <td>@item.Levels</td>*@
                            @*<td>@item.Icon</td>
                    <td>@item.Cover</td>*@
                            @*<td>@item.Description</td>*@
                            <td>
                                <a href="@url" target="_blank" class="btn btn-success">Xem</a>
                                <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.PostId" asp-controller="Posts" class="btn btn-primary">Sửa</a>
                                <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.PostId" asp-controller="Posts" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                   
                }
            }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page=page}), new X.PagedList.Web.Common.PagedListRenderOptions() {
        LiElementClasses= new List<String> {"page-item"},
        PageClasses = new List<string> {"page-link"}
        })
    </div><!-- table-responsive -->
</div>
@*@section Scripts{
    <script>
        $(document).ready(function () {
            $("#keyword").keyup(function () {
                var strKeyword = $("#keyword").val();
                $.ajax({
                    url: "/Admin/Posts/FindPost",
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strKeyword },
                    async: true,
                    success: function (data) {
                        $("#record_table").html("");
                        $("#record_table").html(data);
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            });

            $("#catID").change(function () {
                var _catID = $(this).children(":selected").attr("value");
                var catid = parseFloat(_catID);
                $('#catID option').removeAttr('selected');
                $("#catID > [value=" + catid + "]").attr("selected", "true");
                $.ajax({
                    url: "/Admin/Posts/PostFilter",
                    datatype: "json",
                    type: "GET",
                    data: { catID: catid },
                    async: true,
                    success: function (data) {
                        if (data.status == "success") {
                            window.location.href = data.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            });
        });
    </script>

}
*@